<!-- src/main/resources/templates/contacts/form.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Contact Form</title>
</head>
<body>
<h1>Contact Form</h1>
<form th:action="@{/contacts/save}" th:object="${contact}" method="post">
  <input type="hidden" th:field="*{id}"/>
  <div><label for="firstName">First Name:</label>
    <input type="text" id ="firstName" th:field="*{firstName}" /><br/>
  </div>

  <div>
    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" th:field="*{lastName}" /><br/>
  </div>

  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" th:field="*{email}" /><br/>
  </div>

  <div>
    <label for="phone">Phone:</label>
    <input type="text" id="phone" th:field="*{phone}" /><br/>
  </div>

  <button type="submit">Save</button>
</form>
</body>
</html>